{% extends 'instagram/base.html' %}
 {% load crispy_forms_tags %} 
 {% block content %}
 <div class="container" style="margin-top:8%">
    <div class="content-section">
        <div class="media">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        {% if user.profile.profile_pic %}
                        <img class="rounded-circle account-img" src="{{user.profile.profile_pic.url}}"> 
                        {%endif%}
                    </div>